<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="popupMenus" name="PopupMenu" schema="schema/PopupMenu.exsd"/>

	<extension point="org.eclipse.ui.newWizards">
		<category id="org.dbflute.erflute" name="%plugin.name"/>
		<wizard category="org.dbflute.erflute"
			class="org.dbflute.erflute.wizard.NewDiagramWizard"
			icon="icons/table.gif"
			id="org.dbflute.erflute.wizard.NewDiagramWizard"
			name="%wizard.new.title"/>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.dbflute.erflute.preference.PreferenceInitializer"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page class="org.dbflute.erflute.preference.PreferenceTopPage"
			id="org.dbflute.erflute.page"
			name="%plugin.name"/>
		<page category="org.dbflute.erflute.page"
			class="org.dbflute.erflute.preference.jdbc.JDBCPreferencePage"
			id="org.dbflute.erflute.page.jdbc"
			name="%preference.page.jdbc">
		</page>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor class="org.dbflute.erflute.editor.ERFluteMultiPageEditor"
			extensions="erm"
			contributorClass="org.dbflute.erflute.editor.view.contributor.ERFluteMultiPageEditorActionBarContributor"
			icon="icons/table.gif"
			id="org.dbflute.erflute.editors.ERFluteMultiPageEditor"
			name="%plugin.name">
		</editor>
	</extension>

	<extension point="org.eclipse.ant.core.antTasks">
		<antTask name="ermaster.ddl"
			class="org.insightech.er.ant_task.DDLAntTask"
			library="lib/ermaster_ant.jar"
			headless="true"
			eclipseRuntime="true" />

		<!-- #deleted unneeded
		<antTask name="ermaster.image"
			class="org.insightech.er.ant_task.ImageAntTask"
			library="lib/ermaster_ant.jar"
			headless="true"
			eclipseRuntime="true" />
		-->
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command name="Quick Outline"
			description="Quick Outline"
			categoryId="org.eclipse.gef.category.view"
			id="org.dbflute.erflute.quickOutline">
		</command>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+O"
			commandId="org.dbflute.erflute.quickOutline"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
</plugin>
